.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 40vw;
    text-align: center;
    background-color: #eee;
}

.container>* {
    padding: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    width: 80%;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ccc;

    p {
        width: 50%;
    }
}